/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'quicksand';
  src: url(/app/css/fonts/Quicksand/Quicksand-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BigJohn';
  src: url(/app/css/fonts/BigJohn.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SlimJoe';
  src: url(/app/css/fonts/SlimJoe.otf);
  font-weight: bold;
  font-style: normal;
}
@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0px 20px #fff;
  }
  100% {
    box-shadow: 0 0 0 #fff;
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0px 20px #fff;
  }
  100% {
    box-shadow: 0 0 0 #fff;
  }
}
@-webkit-keyframes expand {
  0% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}
@keyframes expand {
  0% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #090b18;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body {
  font-family: 'quicksand', 'Segoe UI', 'Verdana', 'Tahoma', sans-serif;
  color: #090b18;
  background: url(/app/css/images/workstation_amber.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% 0;
  background-attachment: fixed;
  background-color: #c8663c;
  zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body a {
  text-decoration: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  background: #090b18;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
#top-menu.entered {
  height: 80px;
}
#top-menu.entered #logo {
  top: 10px;
  height: 60px;
  width: 60px;
}
#top-menu.entered #logo .hair {
  -webkit-animation: glow 2s !important;
  animation: glow 2s !important;
}
#top-menu.entered .sub-menu {
  opacity: 1;
}
#top-menu.entered .sub-menu .link {
  opacity: 1;
}
#top-menu .sub-menu {
  position: fixed;
  top: 80px;
  height: 30px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
  opacity: 0;
}
#top-menu .sub-menu .link {
  color: #111;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 0;
  width: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-bottom: 3px solid #ffffff;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#top-menu .sub-menu .link:hover,
#top-menu .sub-menu .link.active {
  border-bottom: 3px solid #c8663c;
  color: #c8663c;
}
#top-menu #logo {
  position: relative;
  margin: 0 auto;
  top: 42%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#top-menu #logo.flat .hair {
  box-shadow: none;
}
#top-menu #logo.flat .face {
  box-shadow: none;
}
#top-menu #logo .hair {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff5500;
  border-radius: 50%;
  -o-animation: glow 2s infinite;
  -ms-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -webkit-animation: glow 2s infinite;
  animation: glow 2s infinite;
  box-shadow: inset 2px -5px 10px #662200, inset 4px 4px 10px #ff9966;
}
#top-menu #logo .face {
  position: absolute;
  width: 65%;
  height: 85%;
  bottom: -3%;
  left: 28%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 2px 0 2px #999;
}
#top-menu #logo .eyelid {
  position: absolute;
  width: 16%;
  height: 10%;
  background-color: #ccc;
  border-radius: 50%;
  top: 45%;
  right: 18%;
}
#top-menu #logo .eye {
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: #1177ff;
  border-radius: 50%;
  top: 45%;
  right: 22%;
}
#links-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
}
#links-page.hide {
  opacity: 0;
}
#filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.heading-wrapper {
  position: absolute;
  top: 35%;
  width: 100%;
  background: #090b18;
}
.heading-wrapper #heading {
  position: relative;
  font-family: 'SlimJoe', 'Tahoma', 'Segoe UI', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 60px;
  line-height: 140%;
  text-align: center;
  padding: 20px 20px 10px 20px;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.heading-wrapper #sub-heading {
  position: relative;
  font-family: 'quicksand';
  width: 100%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
  padding: 0 20px 20px 20px;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.heading-wrapper #sub-heading .dev {
  font-family: monospace;
  color: #05B8B7;
}
.heading-wrapper #sub-heading .designer {
  color: #F50;
}
.panel-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 80px;
  z-index: -1;
}
.panel-wrapper .panel {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  padding: 20px;
}
.panel-wrapper .panel.dev {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.panel-wrapper .panel.dev .code {
  line-height: 130%;
  font-size: 20px;
  text-shadow: 0 0 5px #fff;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: translate(8%, 7%);
  transform: translate(8%, 7%);
}
.panel-wrapper .panel.dev .code .tabbed.once {
  margin-left: 20px;
}
.panel-wrapper .panel.dev .code .tabbed.twice {
  margin-left: 40px;
}
.panel-wrapper .panel.dev .code .tabbed.thrice {
  margin-left: 60px;
}
.panel-wrapper .panel.dev .code .class {
  color: #66C0FF;
  text-shadow: 0 0 5px #66C0FF;
}
.panel-wrapper .panel.dev .code .keyword {
  color: #FFC100;
  text-shadow: 0 0 5px #FFC100;
}
.panel-wrapper .panel.dev .code .value {
  color: #0FFFED;
  text-shadow: 0 0 5px #0FFFED;
}
.panel-wrapper .panel.designer {
  background: rgba(255, 85, 0, 0.51);
}
.links-wrapper {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.4);
  background: #090b18;
  zoom: 1;
}
.links-wrapper:before,
.links-wrapper:after {
  content: "";
  display: table;
}
.links-wrapper:after {
  clear: both;
}
.links-wrapper .links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
}
.links-wrapper .links .link {
  width: 50%;
  height: 100%;
  position: relative;
  top: 0;
  float: left;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.links-wrapper .links .link:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  -moz-transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  -o-transform: translate(-50%, 20%);
  -webkit-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.links-wrapper .links .link.email {
  background-color: #c92c19;
}
.links-wrapper .links .link.email:before {
  background: url(/app/css/images/mail_icon.png);
  background-repeat: no-repeat;
  background-color: #c92c19;
  background-position: 50%;
  background-size: 70%;
}
.links-wrapper .links .link.email:hover:before {
  background-color: #e54330;
  background-size: 78%;
}
.links-wrapper .links .link.github {
  background-color: #bf4064;
}
.links-wrapper .links .link.github:before {
  background: url(/app/css/images/GitHub-Mark-120px-plus.png);
  background-repeat: no-repeat;
  background-color: #bf4064;
  background-position: 50%;
  background-size: 60%;
}
.links-wrapper .links .link.github:hover:before {
  background-color: #cc6683;
  background-size: 68%;
}
.links-wrapper .links .link.codepen {
  background-color: #dfd20d;
}
.links-wrapper .links .link.codepen:before {
  background: url(/app/css/images/codepen-logo.png);
  background-repeat: no-repeat;
  background-color: #dfd20d;
  background-position: 50%;
  background-size: 70%;
}
.links-wrapper .links .link.codepen:hover:before {
  background-color: #f2e62d;
  background-size: 78%;
}
.links-wrapper .links .link.linkedin {
  background-color: #0077b5;
}
.links-wrapper .links .link.linkedin:before {
  background: url(/app/css/images/linkedin_icon.png);
  background-repeat: no-repeat;
  background-color: #0077b5;
  background-position: 50%;
  background-size: 70%;
}
.links-wrapper .links .link.linkedin:hover:before {
  background-color: #0099e8;
  background-size: 78%;
}
.links-wrapper .links .link.twitter {
  background-color: #55acee;
}
.links-wrapper .links .link.twitter:before {
  background: url(/app/css/images/twitter_icon.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 50%;
  background-size: 70%;
  background-color: #55acee;
}
.links-wrapper .links .link.twitter:hover:before {
  background-color: #83c3f3;
  background-size: 78%;
}
#showcase-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110px;
  left: 0;
  display: block;
  opacity: 0;
  display: none;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#showcase-page.show {
  opacity: 1;
  display: block;
}
#showcase-page #showcase {
  position: absolute;
  width: 100%;
  top: 0;
  background: #ffffff;
}
#showcase-page #showcase .project {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
#showcase-page #showcase .project .title {
  font-size: 2em;
}
#showcase-page #showcase .project .description {
  font-family: 'Segoe UI', 'Tahoma', sans-serif;
  padding: 20px 0;
  line-height: 140%;
  font-size: 17px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#showcase-page #showcase .project .website {
  position: relative;
  height: 568px;
}
#showcase-page #showcase .project .website iframe {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #111111;
}

@media all and (min-width: 1000px) {
  #top-menu {
    width: 20%;
    height: 100%;
  }
  #top-menu.right {
    left: 80%;
  }
  #top-menu .sub-menu {
    position: relative;
    width: 100%;
    background: red;
    box-shadow: none;
  }
  #top-menu .sub-menu .link {
    color: #ffffff;
    background: transparent;
    display: block;
    margin: 0 auto;
  }
  #top-menu.entered {
    height: 100%;
  }
  #top-menu.entered #logo {
    width: 80px;
    height: 80px;
    top: 60px;
  }
  #top-menu.entered .sub-menu {
    position: relative;
    width: 100%;
    background: transparent;
  }
  #top-menu.entered .sub-menu .link {
    color: #ffffff;
    background: transparent;
  }
  #filter,
  .panel-wrapper {
    top: 0;
    right: 0;
    left: auto;
    width: 80%;
  }
  .links-wrapper {
    right: 0;
    left: auto;
    width: 80%;
  }
  .links-wrapper .links {
    position: relative;
    top: 0;
    height: 280px;
    margin: 0 auto;
  }
  #showcase-page {
    width: 80%;
    top: 0;
  }
  #showcase-page #showcase .project {
    padding: 40px;
  }
}
@media all and (min-width: 420px) and (max-width: 992px) {
  body {
    background-size: 250%;
  }
  .panel-wrapper .panel.dev .code {
    font-size: 14px;
  }
}
@media all and (max-width: 420px) {
  body {
    background: url(/app/css/images/workstation_amber_MEDIUM.jpg);
    background-color: #c8663c;
  }
  #top-menu #burger-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 60px;
    z-index: 2;
    background: #444;
  }
  #slide-menu {
    height: 90%;
    width: 100%;
    background: #ccc;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    left: -100%;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  #slide-menu.open {
    left: 0;
  }
  .heading-wrapper {
    top: 25%;
  }
  .heading-wrapper #heading {
    font-size: 40px;
  }
  .panel-wrapper {
    display: none;
  }
  .links-wrapper {
    top: 550px;
  }
  .links-wrapper .links .link {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
