// out: home.css, compress: true

// imports
@import 'fonts.less';
@import 'library.less';
@import 'keyframes.less';

// Scrollbar
::-webkit-scrollbar {
  width: 7px;
  background-color: @indigo;
}

::-webkit-scrollbar-thumb {
  background-color: @white;
  .border-radius;
}

body {
  font-family: 'quicksand';
  background: @white;
  color: @indigo;
  background: url(/app/css/images/geo_background_1.jpg);

  a {
    text-decoration: none;
  }
}

* {
  .box-sizing;
}

#top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  background: @indigo;
  .transition-duration;

  &.entered {
    height: 80px;

    #logo {
      top: 10px;
      height: 60px;
      width: 60px;

      .hair {
        .animation !important;
      }
    }
  }

  #logo-border {
    position: relative;
    top: 10px;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    top: 42%;
    width: 100px;
    height: 100px;
    .transition-duration;
  }

  #logo {
    position: relative;
    top: 10px;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    top: 42%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    .transition-duration;

    &.flat {
      .hair {
        box-shadow: none;
      }

      .face {
        box-shadow: none;
      }
    }

    .hair {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ff5500;
      border-radius: 50%;
      .animation-infinite;
      box-shadow: inset 2px -5px 10px darken(#ff5500, 30%),
      inset 4px 4px 10px lighten(#ff5500, 20%);
    }

    .face {
      position: absolute;
      width: 65%;
      height: 85%;
      bottom: -3%;
      left: 28%;
      transform: rotate(45deg);
      background-color: #fff;
      border-radius: 50%;
      box-shadow: inset 2px 0 2px #999;
    }

    .eyelid {
      position: absolute;
      width: 16%;
      height: 10%;
      background-color: #ccc;
      border-radius: 50%;
      top: 45%;
      right: 18%;
    }

    .eye {
      position: absolute;
      width: 10%;
      height: 10%;
      background-color: #1177ff;
      border-radius: 50%;
      top: 45%;
      right: 22%;
    }
  }
}

#star-field {
  width: 100%;
  margin: 0 auto;
  height: 60%;
  background: #000;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 32, 255, 0.15);
    width: 100%;
    height: 100%;
  }

  .star {
    width: @starDimension;
    height: @starDimension;
    position: absolute;
    background: #fff;
    border-radius: 50%;

    &.far {
      width: @starDimension - 1;
      height: @starDimension - 1;
    }

    &.near {
      width: @starDimension + 2;
      height: @starDimension + 2;
    }

    &.white {
      background: #fff;
      box-shadow: 0 0 15px #fff;
    }

    &.yellow {
      background: #BFBB40;
      box-shadow: 0 0 15px #BFBB40;
    }

    &.blue {
      background: #4444ff;
      box-shadow: 0 0 15px #4444ff;
    }

    &.red {
      background: #ff4444;
      box-shadow: 0 0 15px #ff4444;
    }
  }
}

#filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  background: linear-gradient(transparent, rgba(255, 255, 255, 1));
}

#heading {
  font-family: 'quicksand';
  position: absolute;
  left: 30%;
  right: 30%;
  top: 42%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 3em;
  text-align: center;
  padding: 10px;
  text-shadow: 0 0 3px #ddd;
  .box-sizing;
  .translateY(-55%);
}

#sub-heading {
  font-family: 'quicksand';
  position: absolute;
  left: 10%;
  right: 10%;
  top: 65%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 22px;
  text-align: center;
  padding: 10px;
  text-shadow: 0 0 3px #ddd;
  .box-sizing;
  .translateY(-55%);

  .dev {
    font-family: monospace;
    color: #090B18;
    font-weight: bold;
  }

  .designer {
    font-family: serif;
    font-style: italic;
    color: #F50;
  }
}

#outer-triangle {
  @borderSideWidth: 140px;
  @borderTopHeight: @borderSideWidth * 2 * 0.866;

  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: @borderTopHeight solid @gold80PercentOpaque;
  border-left: @borderSideWidth solid transparent;
  border-right: @borderSideWidth solid transparent;

  &:after {
    content: "";
    position: absolute;

  }

  &.pulse {

  }

  &:hover,
  &.clicked {
    .inner-triangle {
      opacity: 1;

      &.top {
        transform: rotateX(0deg);
      }

      &.left,
      &.right {
        transform: rotateY(0deg);
      }
    }
  }

  .inner-triangle {
    opacity: 0;
    .transition-duration(1s);
    position: absolute;
    border-bottom: @borderTopHeight solid darken(@gold80PercentOpaque, 20%);
    border-left: @borderSideWidth solid transparent;
    border-right: @borderSideWidth solid transparent;

    &.top {
      top: -2 * @borderTopHeight;
      left: -1 * @borderSideWidth;
      transform-origin: bottom;
      transform: rotateX(180deg);

      &:hover {
        border-bottom: @borderTopHeight solid rgba(211, 27, 27, 0.8);
      }

      img {
        position: absolute;
        left: -60px;
        top: 100px;
      }
    }

    &.left {
      top: -1 * @borderTopHeight;
      left: -2 * @borderSideWidth;
      transform-origin: bottom right;
      transform: rotateY(-90deg);

      &:hover {
        border-bottom: @borderTopHeight solid rgba(35, 178, 35, 0.8);
      }
    }

    &.right {
      top: -1 * @borderTopHeight;
      transform-origin: bottom left;
      transform: rotateY(90deg);

      &:hover {
        border-bottom: @borderTopHeight solid rgba(58, 48, 211, 0.8);
      }
    }
  }
}

.links-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  background: @indigo;

  .links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;

    .link {
      width: 50%;
      height: 100%;
      position: relative;
      top: 0;
      float: left;
      .transition-duration;

      &:before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        left: 50%;
        background: #fff;
        border-radius: 50%;
        transform: translate(-50%, 20%);
        .transition-duration(.8s);
      }

      &.email {
        background-color: @gmailRed;

        &:before {
          background: url(/app/css/images/mail_icon.png);
          background-repeat: no-repeat;
          background-color: @gmailRed;
          background-position: 50%;
          background-size: 70%;
        }

        &:hover {
          &:before {
            background-color: @gmailRed;
            background-size: 78%;
          }
        }
      }

      &.github {
        background-color: @red;

        &:before {
          background: url(/app/css/images/GitHub-Mark-120px-plus.png);
          background-repeat: no-repeat;
          background-color: @red;
          background-position: 50%;
          background-size: 60%;
        }

        &:hover {
          &:before {
            background-color: @red;
            background-size: 68%;
          }
        }
      }

      &.codepen {
        background-color: @yellow;

        &:before {
          background: url(/app/css/images/codepen-logo.png);
          background-repeat: no-repeat;
          background-color: @yellow;
          background-position: 50%;
          background-size: 70%;
        }

        &:hover {
          &:before {
            background-color: @yellow;
            background-size: 78%;
          }
        }
      }

      &.linkedin {
        background-color: @linkedinBlue;

        &:before {
          background: url(/app/css/images/linkedin_icon.png);
          background-repeat: no-repeat;
          background-color: @linkedinBlue;
          background-position: 50%;
          background-size: 70%;
        }

        &:hover {
          &:before {
            background-color: @linkedinBlue;
            background-size: 78%;
          }
        }
      }

      &.twitter {
        background-color: @twitterBlue;

        &:before {
          background: url(/app/css/images/twitter_icon.png);
          background-repeat: no-repeat;
          background-color: #fff;
          background-position: 50%;
          background-size: 70%;
          background-color: @twitterBlue;
        }

        &:hover {
          &:before {
            background-color: @twitterBlue;
            background-size: 78%;
          }
        }
      }
    }
  }
}
