
@import '_library';

@media all and (min-width: 1000px) {
  #top-menu {
    width: 20%;
    height: 100%;

    .sub-menu {
      position: relative;
      width: 100%;
      background: red;
      box-shadow: none;

      .link {
        color: @white;
        background: transparent;
        display: block;
        margin: 0 auto;
      }
    }

    &.entered {
      height: 100%;

      #logo {
        width: 80px;
        height: 80px;
        top: 60px;
      }

      .sub-menu {
        position: relative;
        width: 100%;
        background: transparent;

        .link {
          color: @white;
          background: transparent;
        }
      }
    }
  }

  #filter,
  .panel-wrapper{
    top: 0;
    right: 0;
    left: auto;
    width: 80%;
  }

  .links-wrapper {
    right: 0;
    left: auto;
    width: 80%;
    
    .links {
      position: relative;
      top: 0;
      width: 70%;
      height: 280px;
      margin: 0 auto;
    }
  }
}

@media all and (min-width: 420px) and (max-width: 992px) {
  body {
    background-size: 250%;
  }

  .panel-wrapper {
    .panel {
      &.dev {
        .code {
          font-size: 14px;
        }
      }
    }
  }
}

@media all and (max-width: 420px) {

  body {
    background: url(/app/css/images/workstation_amber_MEDIUM.jpg);
    background-color: @orange;
  }

  #top-menu {
    #burger-button {
      display: none; // TODO: finish this
      position: absolute;
      top: 10px;
      left: 10px;
      height: 60px;
      width: 60px;
      z-index: 2;
      background: #444;
    }
  }

  #slide-menu {
    height: 90%;
    width: 100%;
    background: #ccc;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    left: -100%;
    .transition-duration(.8s);

    &.open {
      left: 0;
    }
  }

  .heading-wrapper {
    top: 25%;

    #heading {
      font-size: 40px;
    }
  }

  .panel-wrapper {
    display: none;
  }

  .links-wrapper {
    top: 550px;

    .links {
      .link {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
