@media all and (min-width: 1000px) {
  .links-wrapper .links {
    position: relative;
    top: 0;
    width: 70%;
    height: 280px;
    margin: 0 auto;
  }
}
@media all and (max-width: 700px) {
  .links-wrapper .links .link {
    display: block;
    margin: 0 auto;
  }
}
