@media all and (min-width: 1000px) {
  .links-wrapper .links {
    position: relative;
    top: 0;
    width: 70%;
    height: 280px;
    margin: 0 auto;
  }
}
@media all and (max-width: 700px) {
  #top-menu #burger-button {
    position: relative;
    height: 100%;
    z-index: 2;
    background: #c92c19;
    width: 20%;
  }
  #slide-menu {
    height: 90%;
    width: 100%;
    background: #ccc;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1;
    left: -100%;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  #slide-menu.open {
    left: 0;
  }
  #heading {
    left: 20%;
    right: 20%;
  }
  .links-wrapper .links .link {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .links-wrapper .links .link.email {
    background-color: #c92c19;
  }
  .links-wrapper .links .link.email:before {
    background-color: #c92c19;
  }
  .links-wrapper .links .link.github {
    background-color: #bf4064;
  }
  .links-wrapper .links .link.github:before {
    background-color: #bf4064;
  }
  .links-wrapper .links .link.codepen {
    background-color: #dfd20d;
  }
  .links-wrapper .links .link.codepen:before {
    background-color: #dfd20d;
  }
  .links-wrapper .links .link.linkedin {
    background-color: #0077b5;
  }
  .links-wrapper .links .link.linkedin:before {
    background-color: #0077b5;
  }
  .links-wrapper .links .link.twitter {
    background-color: #55acee;
  }
  .links-wrapper .links .link.twitter:before {
    background-color: #55acee;
  }
}
