@media all and (min-width: 1000px) {
  .links-wrapper .links {
    position: relative;
    top: 0;
    width: 70%;
    height: 280px;
    margin: 0 auto;
  }
}
@media all and (min-width: 600px) {
  #heading {
    font-size: 3.7em;
  }
  #sub-heading {
    top: 55%;
  }
}
@media all and (max-width: 420px) {
  body {
    background: url(/app/css/images/geo_background_1_MOBILE.jpg);
  }
  #top-menu #burger-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 60px;
    z-index: 2;
    background: #444;
  }
  #slide-menu {
    height: 90%;
    width: 100%;
    background: #ccc;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    left: -100%;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  #slide-menu.open {
    left: 0;
  }
  #heading {
    top: 50%;
    left: 16%;
    right: 16%;
  }
  .links-wrapper {
    top: 100%;
  }
  .links-wrapper .links .link {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
