p
  | This pen is an experiment in creating a pure CSS cabinet, including items to
  | appear on the shelves of the cabinet. The unit, shelves, shading, doors, etc,
  | are all styled div elements, and the only JavaScript is a click handler attached
  | to the doors which adds an active class an causes the doors to open.
