p
  | The following two pens are experiments in creating mobile menus which are
  | comfortable to use, from a user experience standpoint.
  | <br /><br />
  | Many current web and native mobile applications use the now ubiquitous "burger menu"
  | as the primary means of site navigation. Frequently, this menu is placed either
  | at the top-left (more common) or top-right of a page. This positioning creates
  | an uncomfortable experience for the one-handed mobile user, due to the stretch required
  | to reach the top parts of screen. Therefore, I decided to try to improve this
  | situation with the menus below.
