p
  | I started working on this website because I am a big fan of astronomical photography,
  | and NASA's Astronomy Picture of the Day (APOD) website in particular; however,
  | I find the current site to be very much lacking in appearance and usability.
  | Therefore, after discovering about the recent open APIs which NASA have been
  | working on, including the APOD API, I decided to create a site of my own which
  | would be attractive, responsive, performant, and just nice to use. What I have
  | created so far is not a finished product, but it does demonstrate what I am 
  | trying to achieve.
