p
  | This raygun was created using pure CSS. Each component that the gun comprises
  | is a styled div element. The only JavaScript used is the trigger click handler
  | which causes the shooting animation, and the beam colour toggle which is
  | invoked by clicking on the light at the rear of the gun.
