.code
  |<span class="class">.panel-wrapper</span> {<br>
  |  <span class="keyword tabbed once">height:</span> <span class="value">100%;</span><br>
  |  <span class="keyword tabbed once">width:</span> <span class="value">100%;</span><br>
  |  <span class="keyword tabbed once">position:</span> <span class="value">absolute;</span><br>
  |  <span class="keyword tabbed once">top:</span> <span class="value">80px;</span><br>
  |  <span class="keyword tabbed once">z-index:</span> <span class="value">-1;</span><br>
  |  <br><br>
  |  <span class="class tabbed once">.panel</span> {<br>
  |    <span class="keyword tabbed twice">position:</span> <span class="value">relative;</span><br>
  |    <span class="keyword tabbed twice">height:</span> <span class="value">100%;</span><br>
  |    <span class="keyword tabbed twice">width:</span> <span class="value">50%;</span><br>
  |    <span class="keyword tabbed twice">float:</span> <span class="value">left;</span><br>
  |<br><br>
  |    <span class="class tabbed twice">&.dev</span> {<br>
  |      <span class="keyword tabbed thrice">background:</span> <span class="value">rgba(0,255,0,0.5)</span>;<br>
  |    <span class="tabbed twice">}</span><br>
  |<br><br>
  |    <span class="class tabbed twice">&.designer</span> {<br>
  |      <span class="keyword tabbed thrice">background:</span> <span class="value">rgba(255, 85, 0, 0.51)</span>;<br>
  |    <span class="tabbed twice">}</span><br>
  |  <span class="tabbed once">}</span><br>
  |}<br>
