doctype html
html
  head
    title Adam Murray
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#000426")
    
    link(rel="shortcut icon", href="/app/css/images/logo.PNG" type="image/icon")
    
    link(rel="stylesheet", type="text/css", href="styles.css")   
  
  body
    #top-menu
      #burger-button
        .bar.top
        .bar.middle
        .bar.bottom
      #logo.flat
        .hair
        .face
        .eyelid
        .eye
      a(href="home.html", class="link left active") Home
      a(href="showcase.html", class="link right") Showcase 
    #slide-menu
    
    #filter
      .heading-wrapper
        #heading adam murray
        #sub-heading <span class='dev'>developer</span> / <span class='designer'>designer</span>
    
    .panel-wrapper
      .panel.dev
        include ./includes/codeSnippet.jade
      .panel.designer
    
    .links-wrapper
      .links
        a(href="mailto:adam.john.campbell.murray@gmail.com")
          .link.email
        a(href="https://github.com/AdamMurray", target="_blank")
          .link.github
        a(href="http://codepen.io/AdamMurray/", target="_blank")    
          .link.codepen
        a(href="https://www.linkedin.com/profile/view?id=177653568", target="_blank")
          .link.linkedin
        a(href="https://twitter.com/RougeEtrange", target="_blank")
          .link.twitter

    //- Add async and defer attributes to script tags (and test load time)
    script(type="text/javascript", src="app.js", defer) // dev JS
    //- script(type="text/javascript", src="app.min.js", defer) // production JS
