
//- Home.jade

doctype html
html
  head
    // Page info
    title Adam Murray | Links
    
    // Meta info
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#000426")
    
    // Stylesheets and favicon
    link(rel="shortcut icon", href="/app/css/images/logo.PNG" type="image/icon")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    
    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65279166-2', 'auto');
      ga('send', 'pageview');
  
  body
    //- TODO: remove .entered when finished working on sub menu
    #top-menu.menu.main.entered
      #logo.logo.flat
        .hair
        .face
        .eyelid
        .eye
      .sub-menu
        a(href="#", class="link left active", id="links-link") Links
        a(href="#", class="link right", id="showcase-link") Showcase
    
    #links-page
      #filter
        .heading-wrapper
          #heading.heading.main adam murray
          .sub-heading.main <span class='dev'>developer</span> / <span class='designer'>designer</span>
      
      .panel-wrapper
        .panel.dev
          include ./includes/codeSnippet.jade
        .panel.designer
      
      .links-wrapper
        .links
          a(href="mailto:adam.john.campbell.murray@gmail.com")
            .link.email
          a(href="https://github.com/AdamMurray", target="_blank")
            .link.github
          a(href="http://codepen.io/AdamMurray/", target="_blank")    
            .link.codepen
          a(href="https://www.linkedin.com/profile/view?id=177653568", target="_blank")
            .link.linkedin
          a(href="https://twitter.com/RougeEtrange", target="_blank")
            .link.twitter
            
    #showcase-page
      #showcase
        // Nasa project
        .project
          .title NASA APOD
          .description
            include ./includes/showcase/nasaDescription
          .website
            iframe(id="nasa-apod-preview", src="http://astropicsnasa.herokuapp.com")
        // Menu ideas
        .project
          .title Mobile Menus
          .description
            include ./includes/showcase/menusDescription
          // Menu #1
          <p data-height="500" data-theme-id="0" data-slug-hash="OVbOob" data-default-tab="result" data-user="AdamMurray" class='codepen'>See the Pen <a href='http://codepen.io/AdamMurray/pen/OVbOob/'>UX Menu Idea #2</a> by Adam Murray (<a href='http://codepen.io/AdamMurray'>@AdamMurray</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
          // Menu #2
          <p data-height="500" data-theme-id="0" data-slug-hash="LVbObq" data-default-tab="result" data-user="AdamMurray" class='codepen'>See the Pen <a href='http://codepen.io/AdamMurray/pen/LVbObq/'>UX Menu Idea #1</a> by Adam Murray (<a href='http://codepen.io/AdamMurray'>@AdamMurray</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        // Raygun
        .project
          .title CSS Raygun
          .description
            include ./includes/showcase/raygunDescription
          <p data-height="503" data-theme-id="0" data-slug-hash="KwbgOG" data-default-tab="result" data-user="AdamMurray" class='codepen'>See the Pen <a href='http://codepen.io/AdamMurray/pen/KwbgOG/'>Raygun</a> by Adam Murray (<a href='http://codepen.io/AdamMurray'>@AdamMurray</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        // Chemical cabinet
        .project
          .title CSS Chemical cabinet
          .description
            include ./includes/showcase/cabinetDescription
          <p data-height="721" data-theme-id="0" data-slug-hash="bNxabv" data-default-tab="result" data-user="AdamMurray" class='codepen'>See the Pen <a href='http://codepen.io/AdamMurray/pen/bNxabv/'>Chemical Cabinet</a> by Adam Murray (<a href='http://codepen.io/AdamMurray'>@AdamMurray</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        
    //- Add async and defer attributes to script tags (and test load time)
    script(type="text/javascript", src="/js/app.js", defer) // dev JS
    //- script(type="text/javascript", src="app.min.js", defer) // production JS
