doctype html
html
  head
    title Raygun
    
    link(rel="stylesheet", type="text/css", href="/app/css/raygun.css")
    
  body
    h1 Raygun
    
    #ray-gun.stun
      .back-piece
      .center-piece
      .front-connect-block
      .barrel
      .plate.one
      .plate.two
      .plate.three
      .front-end-piece
      .shot
      .bottom-connect-block
      .grip
      .trigger
      .indicator.one
      .indicator.two
      .indicator.three
      .toggle

  script(type="text/javascript", src="/app/js/lib/jquery/jquery-1.11.2.min.js")
  script(type="text/javascript", src="/app/js/raygun.js")
