doctype html
html
  head
    title Adam Murray
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#000426")
    
    link(rel="shortcut icon", href="/app/css/images/logo.PNG" type="image/icon")
    
    link(rel="stylesheet", type="text/css", href="styles.css")   
  
  body
    #top-menu.entered
      #logo.flat
        .hair
        .face
        .eyelid
        .eye
      a(href="home.html", class="link left") Home
      a(href="showcase.html", class="link right active") Showcase 

    #showcase

    //- Add async and defer attributes to script tags (and test load time)
    script(type="text/javascript", src="showcase.js", defer) // dev JS
    //- script(type="text/javascript", src="app.min.js", defer) // production JS
