doctype html
html
  head
    title Moving Stars
    link(rel="stylesheet", type="text/css", href="/app/css/stars.css")
  
  body    
    #star-field
      
    script(type="text/javascript", src="/app/js/stars.js")
